{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Contact Page{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact_us/css/contact_us.css' %}">
{% endblock %}

{% block page_header %}
    <div class="navbar-offset"></div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="my-5 fw-bold text-uppercase">We'd love to hear from you</h2>
                </div>
            </div>
            <div>
                <p>Have you read 
                    <a href="{% url 'faq' %}">Frequently Asked Questions</a> 
                    and didn't find your question there? You can call us, send us an email, 
                    or fill out this contact form below. 
                    Please note that our customer service teams are very busy just now 
                    and we are doing everything we can to get back to you as soon as possible. 
                    Thank you for your patience!
                </p>
            </div>
            <!-- Phone -->
             <div class="row">
            <div class="col-6 text-center my-2">
                <h4 class="fw-bold">Call Us</h4>
                <p class="m-0">044 - 765 43 21</p>
                <p>Monday - Friday 09:00 - 18:00</p>
            </div>
            <!-- Email -->
            <div class="col-6 text-center my-2">
                <h4 class="fw-bold">Email Us</h4>
                <p>customerservice@giftnook.com</p>
            </div>
        </div>
            <!-- Contact Form -->
            <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8 mx-auto">
                    <div class="my-5 mx-xl-5 contact-wrapper py-2 position-relative">
                        <h4 class="text text-center">Contact Form</h4>
                        <div class="px-2 px-md-5">
                            <form action="{% url 'contact_us' %}" method="POST">
                                {% csrf_token %}
                                {{ form | crispy }} 
                                <div class="text-center mt-5">
                                    <button class="btn btn-purple" type="submit">
                                        Send Message
                                    </button>
                                </div>               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}